/* Importação da fonte padrão da página*/
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url("reset.css");/*Importação do arquivo CSS que reseta o navegador */

/* Declaração das variáveis */
:root{
    --cor-fundo: #d5d5c9;
    --cor-texto: #1d1d1d;
    --cor-fundo-card: #dededd;
    font-size: 16px;
}

body {
    font-family: "Lato", sans-serif;
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
}

nav {
    background-color: #23232e;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 8vh;
}

#logo {
    text-transform: uppercase;
    letter-spacing: 4px;
}

ul {
    display: flex;
    list-style: none; /* Remove os marcaadores de lista */
    gap: 30px;
    letter-spacing: 2px; /* Espaçamento entre letras */
}

a {
    color: #ffffff;
    text-decoration: none;
    opacity: 0.5; /* Opacidade dos itens do seletor */
    transition: 0.4s; /* Tempo de transição para evento */
}

a:hover { /* Evento de mouse sobre o elemento */
    opacity: 1; 
    font-weight: bold;
}

.active {
    opacity: 1;
    font-weight: bold;
}

.produtos-lista {
    display: flex;
    margin-top: 24px;
    flex-wrap: wrap; /* Quebra automaticamente o conteúdo na página */
    gap: 24px; /* Define o espaço entre linhas e colunas do elemento */
    justify-content: center;
}

.produto {
    padding: 14px;
    background-color: var(--cor-fundo-card);
}

.produtos-lista .produto {
    display: flex;
    flex-direction: column; /* Muda a orientação do flex para coluna */
    align-items: center;
    border-radius: 20px; /* Arredondamento das bordas */
    gap: 18px;
    width: 200px;
    box-shadow: 10px 10px 10px 3px rgba(0, 0, 0, 0.2); /* Sombra */
    transition: 0.4s;
}

.produtos-lista .produto:hover {
    transform: scale(1.05); /* Atributo transform define o que responderá ao evento */
    cursor: pointer;
}

main {
    padding: 20px;
}

h2, h3, strong {
    font-weight: bold;
}

h2 {
    text-align: center; /* Centraliza o título */
    font-size: 1.75rem;
}

h3 {
    text-align: center; /* Centraliza o nome do produto */
    font-size: 1.5em;
}

.produtos-lista .produto img {
    width: 180px;
    height: auto; /* Mantém a proporção da imagem */
}

.produto span {
    text-align: justify; /* Justifica o texto da descrição */
    padding: 5px; /* Espaçamento do texto em relação às bordas do card */
}

/* Adiciona rolagem suave */
html {
    scroll-behavior: smooth; 
}
.produtos-lista .produto h3 {
    text-align: center; /* Centraliza o texto do título */
}
